.blog-list {
  max-width: 800px;
  margin: 20px auto;
}

.blog-list h2 {
  color: #333;
  text-align: center;
}

.blog-list div {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.blog-list h3 {
  color: #1e90ff;
  margin-bottom: 8px;
}

.blog-list p {
  margin: 8px 0;
  color: #555;
}

.blog-list hr {
  border: 1px solid #ddd;
}
.BL{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f78383;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
