<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h1 style="color: white;">User</h1>
      <div class="d-flex">
        <button (click)="clickAddUser()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
          class="btn btn-success">Add User</button>
      </div>
    </div>
  </nav>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
  
            <!-- <div class="mb-3">
              <label for="id" class="form-label">ID</label>
              <input type="text" formControlName="id" class="form-control" required>
            </div> -->
  
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Full Name</label>
              <input type="text" formControlName="fullName" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">User Type</label>
              <input type="text" formControlName="user_type" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Email ID</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1" required email>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control"
                    id="exampleInputPassword1" placeholder="Password" required>
                <span class="text-danger"
                    *ngIf="formValue.controls['password'].dirty && formValue.hasError('required','password')">*Password
                    is required</span>
            </div>
            <!-- <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
              <input type="number" formControlName="mobile" class="form-control" id="exampleInputPassword1" required>
            </div> -->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Bio</label>
                <textarea type="text" formControlName="bio" class="form-control" id="exampleInputPassword1"></textarea>
            </div>
          </form>
        </div>
  
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postUserDetails()" class="btn btn-primary">Add
            User</button>
          <button type="button" *ngIf="showUpdate" (click)="updateUserDetails()" class="btn btn-primary">Update
            User</button>
        </div>
      </div>
    </div>
  </div>
  
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">User Type</th>
        <th scope="col">Email ID</th>
        <!-- <th scope="col">Mobile No.</th> -->
        <th scope="col">Action</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let row of userData">
        <td>{{row.id}}</td>
        <td>{{row.fullName}}</td>
        <td>{{row.user_type}}</td>
        <td>{{row.email}}</td>
        <!-- <td>{{row.mobile}}</td> -->
        <td>
  
          <!-- <td>erertet</td>
            <td>erertet</td>
            <td>erertet</td>
            <td>erertet</td>
            <td>erertet</td>
            <td> -->
          <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
            class="btn btn-info">Edit</button>
          <button (click)="deleteUser(row)" class="btn btn-danger mx-3">Delete</button>
  
          <!-- <button  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
              <button  class="btn btn-danger mx-3">Delete</button> -->
        </td>
      </tr>
    </tbody>
  </table>