<body>

    <header>
        <h2>Welcome to User Management System</h2>
    </header>

    <div>
        <h2>About Us</h2>
        <p>This User Management System is designed to provide a comprehensive solution for efficiently managing user
            information. Whether you are an administrator overseeing a large organization or a small business owner, our
            system simplifies the process of user data management.</p>

        <h3>Key Features</h3>
        <ul>
            <li>View and manage user details.</li>
            <li>Add new users to the system.</li>
            <li>Edit and update user information.</li>
            <li>Delete users from the system.</li>
        </ul>

        <h3>Mission</h3>
        <p>Our mission is to offer a secure, user-friendly, and scalable user management solution that meets the needs
            of organizations of all sizes. We believe in simplifying complex tasks and providing administrators with
            powerful tools to streamline their workflow.</p>

    </div>

</body>