<body>
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Welcome to User Management System!</h1>
            <p class="lead">This system allows you to manage user information efficiently.</p>
            <hr class="my-4">
            <p>Here are some key features:</p>
            <ul>
                <li>View and manage user details.</li>
                <li>Add new users to the system.</li>
                <li>Edit and update user information.</li>
                <li>Delete users from the system.</li>
            </ul>
            <p class="lead">
                <a class="btn btn-primary btn-lg" routerLink="/userbyadmin" role="button">Get Started</a>
            </p>
        </div>
    </div>
</body>